#result .empty {
    background: #e1e1e1;
    text-align: center;
    font-weight: bold;
}

#result section {
    border: 1px solid #e1e1e1;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 140px;
}

#result li {
    border-bottom: 1px solid #dcdcdc;
    padding: 5px 0
;
}

#result .bottom [class^=title] {
    padding-bottom: 10px;
    border-bottom: 4px solid #8e8e8e;
}

#result .featured {
    margin-top: -10px;
}

