#menu-browse {
    width: 100%;
}

body.home.blog li.menu-btn > a {
    color: #fff;
    padding: 0px 15px;
    margin-top: 14px;
    border-radius: 4px;
    margin-right: -15px;
    background-color: #8c1d40;
    border-color: #8c1d40;
}

body.home.blog li.menu-btn {
    float: right;
}

body.home.blog .wrap.container {
    width: 100%;
}

body.home.blog .background-gray {
    background: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: -15px;
    margin-left: -15px;
}

aside .widget {
    background: #f7f7f7;
    padding: 30px;
}

body.home.blog .special h2 {
    border-bottom: 3px solid #ffb310;
}

body.home.blog .special h2 a {
    border: 0;
    color: inherit;
}

body.home.blog .nopadding {
    padding: 0;
}

body.home.blog .source a {
    border-bottom: 0;
}

body.home.blog .nopadding .col-sm-6+.col-sm-6 {
    padding-right: 45px;
    padding-top: 15px;
}

body.home.blog .nopadding .panel-body h3,.featured h1 {
    margin-top: 0;
}

body.home.blog h1 > a, body.home.blog h2 > a, body.home.blog h3 > a {
    color: inherit;
    border-bottom: 0;
}

body.home.blog .navbar-default {
    margin-bottom: 30px;
}